.accordion {
   background-color: #bbbbbb;
   // color: #ffffff;
   cursor: pointer;
   padding: 10px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 18px;
   transition: 0.4s;
 }
 
 .active, .accordion:hover {
   background-color: #ccc; 
 }
 
 .panel {
   padding: 0 5px;
   display: none;
   // background-color: white;
   overflow: hidden;
 }