.btn {
   border: none;
   margin: 0 0.3rem;
   transition: $transition;
   font-family: inherit;
   cursor: pointer;

   &--main {
      color: $c-white;
      border-radius: 3px;
      padding: 0.5rem;
      background-color: $c1-main;
      border: solid 2px $c-white;

      &:hover {
         transform: scale(1.1);
      }
   }

   &--second {
      color: $c-white;
      padding: 0.5rem;
      background-color: transparent;
      border: solid 2px transparent;

      &:hover {
         background-color: transparent;
         border: solid 2px $c1-second;
      }
   }

   &--backend {
      display: block;
      color: $c-white;
      border-radius: 12px;
      padding: 0.5rem;
      background-color: $c1-second;
      border: solid 2px transparent;
      margin: 2rem auto;

      &:hover {
         background-color: transparent;
         border: solid 2px $c1-second;
      }
   }

   &--devBtn {
      color: $c-white;
      border-radius: 12px;
      padding: 0.5rem;
      background-color: $c1-second;
      border: solid 2px transparent;
      margin: 0.3rem;

      &:hover {
         background-color: transparent;
         border: solid 2px $c1-second;
      }
   }
}
