.card {
   position: relative;
   padding: 1rem;
   color: white;
   border-radius: $border-radius-cards;
   display: inline-block;
   margin: 1rem 0.5rem;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   transition: all 0.2s ease-in-out;

   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-cards;
      transition: all 0.2s ease-in-out;
      pointer-events: none;
   }

   &:hover {
      transform: translate(-10px, -10px);
   }

   &:hover::after {
      transform: translate(10px, 10px);
   }

   &__red {
      background-color: $card-red;
   }

   &__blue {
      background-color: $card-blue;
   }

   &__green {
      background-color: $card-green;
   }

   &__purple {
      background-color: $card-purple;
   }

   &__pink {
      background-color: $card-pink;
   }

   &__yellow {
      background-color: $card-yellow;
      color: rgb(35, 35, 35);
      font-size: 21px;
   }

   &__cyan {
      background-color: $card-cyan;
   }

   &__brown {
      background-color: $card-brown;
   }

   &__half {
      width: 42%;
   }
   &__full {
      width: 95.6%;
   }
   &__third {
      width: 28%;
   }
}

//animations

.card__red::after {
   background-color: darken($card-red, 10%);
}
.card__blue::after {
   background-color: darken($card-blue, 10%);
}
.card__green::after {
   background-color: darken($card-green, 10%);
}
.card__purple::after {
   background-color: darken($card-purple, 10%);
}
.card__pink::after {
   background-color: darken($card-pink, 10%);
}
.card__yellow::after {
   background-color: darken($card-yellow, 10%);
}
.card__cyan::after {
   background-color: darken($card-cyan, 10%);
}
.card__brown::after {
   background-color: darken($card-brown, 10%);
}
