.code {
    &-box {
        background-color: $c-black;
        color: $c-white;
        padding: 10px;
        border-radius: 4px;
        font-family: monospace;
        font-size: 1.2em;
        margin-top: 0.5rem;
    }
}