//colors
.c-white {
   color: $c-white !important;
}
.c-grey {
   color: $c-grey !important;
}
.c-black {
   color: $c-black !important;
}
.c1-main {
   color: $c1-main !important;
}
.c2-main {
   color: $c2-main !important;
}
.c3-main {
   color: $c3-main !important;
}
.c1-second {
   color: $c1-second !important;
}
.c2-second {
   color: $c2-second !important;
}
.c3-second {
   color: $c3-second !important;
}
.c_success {
   color: $c-success !important;
}
.c_warn {
   color: $c-warn !important;
}
.c_error {
   color: $c-error !important;
}

//background
.bg-white {
   background-color: $c-white !important;
}
.bg-grey {
   background-color: $c-grey !important;
}
.bg-black {
   background-color: $c-black !important;
}
.bg-main1 {
   background-color: $c1-main !important;
}
.bg-main2 {
   background-color: $c2-main !important;
}
.bg-main3 {
   background-color: $c3-main !important;
}
.bg-second1 {
   background-color: $c1-second !important;
}
.bg-second2 {
   background-color: $c2-second !important;
}
.bg-second3 {
   background-color: $c3-second !important;
}
.bg-succes {
   background-color: $c-success !important;
}
.bg-warn {
   background-color: $c-warn !important;
}
.bg-error {
   background-color: $c-error !important;
}
