html {
   padding-top: 1rem;
}

.container {
   margin: 0 auto;
   width: 90%;

   @include breakpoint("mid") {
      width: 80%;
   }
   @include breakpoint("sm") {
      width: 75%;
   }
   @include breakpoint("md") {
      width: 75%;
   }
   @include breakpoint("lg") {
      width: 55rem;
   }
   @include breakpoint("xl") {
      width: 60rem;
   }
   @include breakpoint("xxl") {
      width: 70rem;
   }
}
