html {
   padding-top: 1rem;
}

.container {
   margin: 0 auto;
   width: 90%;

   @include breakpoint("mid") {
      width: 80%;
   }
   @include breakpoint("sm") {
      width: 75%;
   }
   @include breakpoint("md") {
      width: 75%;
   }
   @include breakpoint("lg") {
      width: 55rem;
   }
   @include breakpoint("xl") {
      width: 60rem;
   }
   @include breakpoint("xxl") {
      width: 70rem;
   }
}

.container_dashboard {
   margin: 0 auto;
   width: 90%;

   @include breakpoint("lg") {
      width: 60rem;
   }
   @include breakpoint("xl") {
      width: 70rem;
   }
   @include breakpoint("xxl") {
      width: 80rem;
   }
}

.pdf-content img {
   float: none !important;
   display: block !important;
   margin: 0 auto !important;
   max-width: 100% !important;
}

.pdf-content {
   text-align: left !important;
   margin: 10px !important;
}
