/* --------------------------------------------------
Dashboard Icons - Timeline & About Me
-------------------------------------------------- */

.timeline-dashboard-icon,
.about-me-dashboard-icon,
.documents-dashboard-icon,
.medieninformatik-dashboard-icon,
.cover-note-dashboard-icon,
.experience-dashboard-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, rgba($c1-main, 0.4), rgba($c2-main, 0.4));
  border-radius: 10px;
  border: 1px solid rgba($c1-second, 0.4);
}

.timeline-dashboard-icon:hover:not(.timeline-dashboard-icon--disabled),
.about-me-dashboard-icon:hover:not(.about-me-dashboard-icon--disabled),
.documents-dashboard-icon:hover:not(.documents-dashboard-icon--disabled),
.medieninformatik-dashboard-icon:hover:not(.medieninformatik-dashboard-icon--disabled),
.cover-note-dashboard-icon:hover:not(.cover-note-dashboard-icon--disabled),
.experience-dashboard-icon:hover:not(.experience-dashboard-icon--disabled) {
  // background: linear-gradient(135deg, $c1-second, $c2-second);
  /* box-shadow: 0 4px 15px rgba(15, 125, 189, 0.082); */
  border:
    $c1-second,
    solid 1px;
}

.timeline-dashboard-icon svg,
.about-me-dashboard-icon svg,
.documents-dashboard-icon svg,
.medieninformatik-dashboard-icon svg,
.cover-note-dashboard-icon svg,
.experience-dashboard-icon svg {
  margin-bottom: 5.5rem;
  transition: transform 0.3s ease;
  width: 150px !important;
  height: 150px !important;
  flex-shrink: 0;

  @media (max-width: $bp-xl) {
    margin-bottom: 5rem;
    height: 120px !important;
    width: 120px !important;
  }
  @media (max-width: $bp-lg) {
    margin-bottom: 4.5rem;
    width: 90px !important;
    height: 90px !important;
  }
  @media (max-width: $bp-md) {
    width: 80px !important;
    height: 80px !important;
  }
}

.timeline-dashboard-icon:hover:not(.timeline-dashboard-icon--disabled) svg,
.about-me-dashboard-icon:hover:not(.about-me-dashboard-icon--disabled) svg,
.documents-dashboard-icon:hover:not(.documents-dashboard-icon--disabled) svg,
.medieninformatik-dashboard-icon:hover:not(.medieninformatik-dashboard-icon--disabled) svg,
.experience-dashboard-icon:hover:not(.experience-dashboard-icon--disabled) svg {
  transform: scale(1.07) translateY(-3px);
}

.timeline-dashboard-text,
.about-me-dashboard-text,
.documents-dashboard-text,
.medieninformatik-dashboard-text,
.cover-note-dashboard-text,
.experience-dashboard-text {
  font-weight: 600;
  color: $c1-main;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.7 !important;
  display: block;
  top: 100% !important;

  @media (max-width: $bp-lg) {
    top: 110% !important;
  }
}

.about-me-dashboard-icon:hover:not(.about-me-dashboard-icon--disabled) .about-me-dashboard-text,
.documents-dashboard-icon:hover:not(.documents-dashboard-icon--disabled) .documents-dashboard-text,
.medieninformatik-dashboard-icon:hover:not(.medieninformatik-dashboard-icon--disabled) .medieninformatik-dashboard-text,
.experience-dashboard-icon:hover:not(.experience-dashboard-icon--disabled) .experience-dashboard-text {
  color: $c1-second;
}

.documents-dashboard-icon--disabled,
.timeline-dashboard-icon--disabled,
.experience-dashboard-icon--disabled {
  opacity: 0.7;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

// #dashboard {
//   &__chatBox {
//     position: fixed;
//     z-index: 1000;
//     max-width: 20rem;
//     max-height: 10rem;
//     overflow-y: auto;
//     bottom: 1rem;
//     right: 1rem;
//     background: $c1-second;
//     padding: 1rem;
//     border-radius: 10px;
//     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
//   }
// }

.boxWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -15px;

  ///
  /// Styles the inner wrapper of the dashboard boxes.
  /// On small screens (<= $bp-sm), only 2 items per row.
  ///
  &__inner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: $bp-sm) {
      justify-content: flex-start;

      ///
      /// Adds margin-top to all .boxWrapper__a children except the first two.
      /// Uses :not(:nth-child(1)):not(:nth-child(2)) for clarity.
      ///
      > .boxWrapper__a:not(:nth-child(1)):not(:nth-child(2)) {
        margin-top: 7rem;
      }
      > .boxWrapper__a {
        flex: 0 0 50%;
        max-width: 50%;
        justify-content: center;
        display: flex;
      }
    }
  }

  &__a {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    transition: transform 0.3s;

    // Responsive font size
    @media (max-width: $bp-xl) {
      height: 150px;
      width: 150px;
    }
    @media (max-width: $bp-lg) {
      height: 120px;
      width: 120px;
    }
    @media (max-width: $bp-md) {
      height: 100px;
      width: 100px;
    }

    & span {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      font-size: 1.7rem;
      line-height: 2;
      color: #cacaca;

      // Responsive font size
      @media (max-width: $bp-xl) {
        font-size: 1.4rem;
      }
      @media (max-width: $bp-lg) {
        font-size: 1rem;
      }
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none !important;
      cursor: not-allowed !important;
    }
  }

  &__a:hover {
    transform: scale(1.07);
  }
}
