/* poppins-regular - latin */
@font-face {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   src: url("./assets/fonts/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
   src: local(""), url("./assets/fonts/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/poppins-v15-latin-regular.woff2") format("woff2"),
      /* Super Modern Browsers */ url("./assets/fonts/poppins-v15-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("./assets/fonts/poppins-v15-latin-regular.ttf") format("truetype"),
      /* Safari, Android, iOS */ url("./assets/fonts/poppins-v15-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-300italic - latin */
@font-face {
   font-family: "Poppins";
   font-style: italic;
   font-weight: 300;
   src: url("./assets/fonts/poppins-v15-latin-300italic.eot"); /* IE9 Compat Modes */
   src: local(""), url("./assets/fonts/poppins-v15-latin-300italic.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/poppins-v15-latin-300italic.woff2") format("woff2"),
      /* Super Modern Browsers */ url("./assets/fonts/poppins-v15-latin-300italic.woff") format("woff"),
      /* Modern Browsers */ url("./assets/fonts/poppins-v15-latin-300italic.ttf") format("truetype"),
      /* Safari, Android, iOS */ url("./assets/fonts/poppins-v15-latin-300italic.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 600;
   src: url("./assets/fonts/poppins-v15-latin-600.eot"); /* IE9 Compat Modes */
   src: local(""), url("./assets/fonts/poppins-v15-latin-600.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/poppins-v15-latin-600.woff2") format("woff2"),
      /* Super Modern Browsers */ url("./assets/fonts/poppins-v15-latin-600.woff") format("woff"),
      /* Modern Browsers */ url("./assets/fonts/poppins-v15-latin-600.ttf") format("truetype"),
      /* Safari, Android, iOS */ url("./assets/fonts/poppins-v15-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}

.testclass {
   font-weight: 300;
}

$scale-fs-sm: 1;
$scale-fs-md: 1.2;
$scale-fs-lg: 1.3;
$scale-fs-xl: 1.4;
$scale-fs-xxl: 1.5;

$scale-lh-sm: 1;
$scale-lh-md: 1.3;
$scale-lh-lg: 1.5;
$scale-lh-xl: 1.8;
$scale-lh-xxl: 2;

$lh-h1: 40.4px;
$lh-h2: 26.4px;
$lh-h3: 22.4px;
$lh-h4: 20.4px;
$lh-p: 19.4px;

$fs-h1: 30px;
$fs-h2: 25px;
$fs-h3: 15px;
$fs-h4: 14px;
$fs-p: 13px;

// $fs-h1: 24px;
// $fs-h2: 20px;
// $fs-h3: 16px;
// $fs-p: 12px;

@include breakpoint("xs") {
   body {
      font-family: "Poppins";
   }

   h1 {
      font-family: "Poppins";
      font-size: $fs-h1;
      line-height: $lh-h1;
      // text-align: center;
   }

   h2 {
      font-family: "Poppins";
      font-size: $fs-h2;
      line-height: $lh-h2;
      // text-align: center;
   }

   h3 {
      font-family: "Poppins";
      font-size: $fs-h3;
      line-height: $lh-h3;
      // text-align: center;
   }
   h4 {
      font-family: "Poppins";
      font-size: $fs-h4;
      line-height: $lh-h4;
      // text-align: center;
   }

   p,
   a {
      color: $c3-main;
      font-size: $fs-p;
      line-height: $lh-p;
   }

   blockquote {
      font-size: 21px;
      line-height: 34px;
   }

   pre {
      font-size: 13px;
      line-height: 18.5714px;
   }

   @include breakpoint("sm") {
      h1 {
         font-size: $fs-h1 * $scale-fs-sm;
         line-height: $lh-h1 * $scale-lh-sm;
      }

      h2 {
         font-size: $fs-h2 * $scale-fs-sm;
         line-height: $lh-h2 * $scale-lh-sm;
      }

      h3 {
         font-size: $fs-h3 * $scale-fs-sm;
         line-height: $lh-h3 * $scale-lh-sm;
      }

      h4 {
         font-size: $fs-h4 * $scale-fs-sm;
         line-height: $lh-h4 * $scale-lh-sm;
      }

      p,
      a {
         font-size: $fs-p * $scale-fs-sm;
         line-height: $lh-p * $scale-lh-sm;
      }
   }

   @include breakpoint("md") {
      h1 {
         font-size: $fs-h1 * $scale-fs-md;
         line-height: $lh-h1 * $scale-lh-md;
         // text-align: left;
      }

      h2 {
         font-size: $fs-h2 * $scale-fs-md;
         line-height: $lh-h2 * $scale-lh-md;
         // text-align: left;
      }

      h3 {
         font-size: $fs-h3 * $scale-fs-md;
         line-height: $lh-h3 * $scale-lh-md;
         // text-align: left;
      }

      h4 {
         font-size: $fs-h4 * $scale-fs-md;
         line-height: $lh-h4 * $scale-lh-md;
         // text-align: left;
      }

      p,
      a {
         font-size: $fs-p * $scale-fs-md;
         line-height: $lh-p * $scale-lh-md;
      }
   }

   @include breakpoint("lg") {
      h1 {
         font-size: $fs-h1 * $scale-fs-lg;
         line-height: $lh-h1 * $scale-lh-lg;
      }

      h2 {
         font-size: $fs-h2 * $scale-fs-lg;
         line-height: $lh-h2 * $scale-lh-lg;
      }

      h3 {
         font-size: $fs-h3 * $scale-fs-lg;
         line-height: $lh-h3 * $scale-lh-lg;
      }

      h4 {
         font-size: $fs-h4 * $scale-fs-lg;
         line-height: $lh-h4 * $scale-lh-lg;
      }

      p,
      a {
         font-size: $fs-p * $scale-fs-lg;
         line-height: $lh-p * $scale-lh-lg;
      }
   }

   @include breakpoint("xl") {
      h1 {
         font-size: $fs-h1 * $scale-fs-xl;
         line-height: $lh-h1 * $scale-lh-xl;
      }

      h2 {
         font-size: $fs-h2 * $scale-fs-xl;
         line-height: $lh-h2 * $scale-lh-xl;
      }

      h3 {
         font-size: $fs-h3 * $scale-fs-xl;
         line-height: $lh-h3 * $scale-lh-xl;
      }

      h4 {
         font-size: $fs-h4 * $scale-fs-xl;
         line-height: $lh-h4 * $scale-lh-xl;
      }

      p,
      a {
         font-size: $fs-p * $scale-fs-xl;
         line-height: $lh-p * $scale-lh-xl;
      }
   }

   @include breakpoint("xxl") {
      h1 {
         font-size: $fs-h1 * $scale-fs-xxl;
         line-height: $lh-h1 * $scale-lh-xl;
      }

      h2 {
         font-size: $fs-h2 * $scale-fs-xxl;
         line-height: $lh-h2 * $scale-lh-xl;
      }

      h3 {
         font-size: $fs-h3 * $scale-fs-xxl;
         line-height: $lh-h3 * $scale-lh-xl;
      }

      h4 {
         font-size: $fs-h4 * $scale-fs-xxl;
         line-height: $lh-h4 * $scale-lh-xl;
      }

      p,
      a {
         font-size: $fs-p * $scale-fs-xxl;
         line-height: $lh-p * $scale-lh-xl;
      }
   }
}
