// styöe for form elements

input[type="text"],
input[type="email"],
input[type="password"],
input[type="textarea"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="file"],
textarea {
   width: 100%;
   padding: 10px;
   margin: 5px 0;
   display: inline-block;
   box-sizing: border-box;
   transition: 0.3s;
}

textarea {
   resize: vertical !important;
}

.button_form,
textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
   border: none;
   border-radius: $border-radius_small;
   outline: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
   transform: scale(1.01);
   transition: 0.3s;
   outline: solid 1px $c1-main;
   box-shadow: 0 0 10px $c1-main;
}

.button_form { 
   cursor: pointer;
   width: 100%;
   background-color: $c1-main;
   color: $c-white;
   border: solid 1px $c-white;
   padding: 14px 20px;
   margin: 8px 0;
   transition: 0.3s;

   &--guest {
      color: white;
      text-decoration: none;
      display: block;
      text-align: center;
      transition: all 0.3s ease;

      &:hover {
         transform: scale(1.02);
      }
   }

   &:focus,
   &:hover {
      transform: scale(1.02);
      transition: 0.3s;
      box-shadow: 0 0 10px $c1-main;
   }
}
