// $base_size: -4px;
// $size_increment: -4px;
// $base_color: #AEAEAE;
// $name_mt: 10rem;

// .main_img {
//    &-container {
//       position: relative;
//       display: inline-block;
//       margin: 0;
//       padding: 0;
//       width: 100%;
//    }

//    &-img {
//       display: block;
//       width: 100%;
//       padding: 0;
//       margin: 0;
//    }

//    @for $i from 1 through 5 {
//       &-b#{$i} {
//          content: "";
//          position: absolute;
//          z-index: -$i;
//          background-color: darken($base_color, ($i - 1) * 16%);
//          $size: $base_size + ($i - 1) * $size_increment;
//          top: $size;
//          left: $size;
//          right: $size;
//          bottom: $size;
//       }
//    }
// }
