.img-container {
   position: relative;
   height: 500px;
   width: 549px;
   background-image: url("../../public/assets/img/2019_furtwangen.jpg");
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   transition: all 0.2s ease-in-out;
}
