$base_size: -4px;
$size_increment: -4px;
$base_color: #999999;

.main_img {
   &-container {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-top: 2rem;
   }

   &-img {
      display: block;
      width: 300px;
      padding: 0;
      margin: 0;
   }

   @for $i from 1 through 10 {
      &-b#{$i} {
         content: "";
         position: absolute;
         z-index: -$i;
         
         // Berechne die Graustufen, indem du den Farbwert dunkler machst
         background-color: darken($base_color, ($i - 1) * 5%);
         
         // Berechne die Border-Größen
         $size: $base_size + ($i - 1) * $size_increment;
         top: $size;
         left: $size;
         right: $size;
         bottom: $size;
      }
   }
}
