.lp_header {
   display: none;
   
   @include breakpoint("sm"){
      display: flex;
      justify-content: space-between;
      padding-bottom: 2rem;
      flex-direction: column;
      
      &__container {
         display: flex;
         flex-direction: column;
      }
      
      &__img {
         display: block;
         align-self: flex-start;
      }
   }
   
   &__pre-hw {
      display: none;
      
      @include breakpoint("sm"){
         display: flex;
         font-size: 16px;
         line-height: 12px;
         margin-top: 2rem;
      }

      @include breakpoint("sm"){
         font-size: 18px;
         line-height: 13px;
      }

      @include breakpoint("md"){
         font-size: 4vh;
         max-width: 100%;
         line-height: 15px;
      }

      @include breakpoint("lg"){
         font-size: 14px;
         line-height: 10px;
      }

      @include breakpoint("xl"){
         font-size: 15px;
         line-height: 11px;
      }

      @include breakpoint("xxl"){
         font-size: 17px;
         line-height: 12px;
      }
   }
   
   &__pre-code {
      display: inline-block;
      margin: 0;
      margin-left: 1rem;

      @include breakpoint("lg"){
         font-size: 12px;
      }

      @include breakpoint("xl"){
         font-size: 13px;
      }

      @include breakpoint("xxl"){
         font-size: 15px;
      }
   }

   @include breakpoint("sm"){
      margin-bottom: 3rem;
   }

   @include breakpoint("lg"){
      flex-direction: row;
      margin-bottom: 5rem;
   }
}

.lp_name {
   position: relative;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   font-size: 34px;
   margin-top: 2rem;
   
   @include breakpoint("xs"){
      font-size: 60px;
   }

   @include breakpoint("mid"){
      font-size: 85px;
   }
   
   @include breakpoint("sm"){
      font-size: 115px;
      margin-top: 0rem;
      margin-bottom: 5rem;
   }

   @include breakpoint("lg"){
      font-size: 170px;
      margin-bottom: 10rem;
   }
   
   &-black {
      position: absolute;
      font-size: inherit;
      top: 2px;
      left: 2px;
      color: #000000;

      @include breakpoint("sm"){
         top: 3px;
         left: 3px;
      }

      @include breakpoint("lg"){
         top: 5px;
         left: 5px;
      }

      &-sure {
         margin-top: calc($name_mt + 35px);
      }
   }

   &-white {
      font-size: inherit;
      color: #ffffff;
   }

   &--surename {
      margin-top: 0.5rem;
      
      @include breakpoint("xs"){
         margin-top: 2rem;
      }

      @include breakpoint("mid"){
         margin-top: 3rem;
      }

      @include breakpoint("sm"){
         margin-top: 5rem;
      }

      @include breakpoint("lg"){
         margin-top: 8rem;
      }
   }
}

.small_size {
   & p{
      font-size: 17px;
   }

   @include breakpoint("sm"){
      display: none;
   }
}
