.lp_header {
   margin-bottom: 1rem;

   @include breakpoint("xs") {
      margin-bottom: 3rem;
   }

   @include breakpoint("sm") {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 3rem;

      &__container {
         display: flex;
         flex-direction: column;
      }
   }

   &__img {
      display: block;
      align-self: flex-start;
      padding: 0;
      margin: 0;

      @include breakpoint("md") {
         width: 80%;
      }

      @include breakpoint("lg") {
         width: 100%;
      }

      &--img {
         width: 100%;
         border-radius: $border-radius_image;
         box-shadow: 0 4px 15px rgba($c-black, 0.8);
      }
   }

   &__pre-hw {
      display: none;

      @include breakpoint("sm") {
         display: flex;
         font-size: 2.6vw;
         line-height: 12px;
      }

      @include breakpoint("md") {
         font-size: 2.1vw;
         line-height: 15px;
      }

      @include breakpoint("lg") {
         font-size: 1rem;
         line-height: 10px;
      }

      @include breakpoint("xl") {
         line-height: 11px;
      }

      @include breakpoint("xxl") {
         font-size: 1.1rem;
         line-height: 12px;
      }
   }

   &__pre-code {
      display: none;

      @include breakpoint("sm") {
         display: inline-block;
         font-size: 2vw;
         margin-top: 0;
         margin-bottom: 3rem;
      }

      @include breakpoint("lg") {
         font-size: 1.2vw;
         margin-left: 1rem;
      }

      @include breakpoint("xl") {
         font-size: 1rem;
      }
   }

   @include breakpoint("lg") {
      flex-direction: row;
      margin-bottom: 5rem;
   }
}

.lp_name {
   position: relative;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   margin-bottom: 1rem;

   @include breakpoint("xs") {
      margin-bottom: 4rem;
   }

   @include breakpoint("sm") {
      margin-bottom: 6rem;
   }

   @include breakpoint("md") {
      margin-bottom: 7rem;
   }

   &-black {
      position: absolute;
      top: 2px;
      left: 2px;
      color: $c1-main;
      font-size: 18vw;

      @include breakpoint("sm") {
         top: 3px;
         left: 3px;
      }

      @include breakpoint("lg") {
         top: 5px;
         left: 5px;
         font-size: 8rem;
      }

      &-sure {
         margin-top: calc(10rem + 35px);
      }
   }

   &-white {
      font-size: 18vw;
      color: $c3-second;

      @include breakpoint("lg") {
         font-size: 8rem;
      }
   }

   &--surename {
      margin-top: 0.7vw;

      @include breakpoint("xs") {
         margin-top: 12vw;
      }

      @include breakpoint("lg") {
         margin-top: 6rem;
      }
   }
}

.login {
   display: none !important;

   @include breakpoint("xs") {
      display: block !important;
   }

   &--input {
      font-size: 20px;
      width: 100%;
   }
}
