.link_logo--wrapper {
   display: flex;
   justify-content: space-around;
   gap: 1rem; 

   @include breakpoint("lg") {
      justify-content: flex-start;
   }
}

.link_logo {
   width: auto;
   height: 22px;
   @include breakpoint("xs") {
      height: 50px;
   }
   
   @include breakpoint("md") {
      height: 70px;
   }
   
   @include breakpoint("lg") {
      margin-right: 1rem;
   }
}
