.header {
   &__logo {
      cursor: pointer;
      z-index: 10;
      width: 100px;
      height: 100px;
      background-size: cover;
   }
   &__bgcWrapper {
      position: absolute;
      display: flex;
      width: 100%;
   }

   &__bgc {
      position: absolute;
   }

   &__logoWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 504px;
      width: 504px;
      border: 2px $c1-main solid;
   }

   &__bcScale {
      cursor: pointer;
      transition: $transition;
      top: 0;
      width: 3.1rem;
      opacity: 0.3;
      &:hover {
         opacity: 1;
      }

      &Wrapper {
         position: absolute;
         display: flex;
         flex-direction: column;
         right: -3.5rem;
      }
   }
}
