body {
  margin: 0;
  background-color: $c1-main;
}

.container {
  padding: 0 5rem;
}

.c_titleText {
  & h3 {
     margin-bottom: 1rem;
  }
  & h4 {
     margin-top: 1rem;
     margin-bottom: 0.7rem;
  }
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $c-white;
}
