// normalize
body {
  margin: 0;
  background-color: $c1-main;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $c-white;
}

table,
tr,
th {
  margin: 0;
  color: $c-white !important;
}

.table_desc {
  font-size: 15px !important;

  &__first {
    width: 275px !important;
  }

  &__second {
    width: 740px !important;
  }
}
