.slider {
   &__wrapper {
      position: relative;
      margin: 0 auto;
      width: 100%;
   }

   &__img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      transition: 0.7s;
      object-fit: cover;
      border-radius: $border-radius_image;
      // &:hover + .slider__pointWrapper {
      //    opacity: 0.5;
      // }
   }

   &__pointWrapper {
      position: absolute;
      display: flex;
      transition: 0.7s;
      bottom: 0;
      width: 100%;
      height: 30px;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
         0.25turn,
         rgba($color: $c-grey, $alpha: 0),
         rgba($color: $c-grey, $alpha: 0.5),
         rgba($color: $c-grey, $alpha: 0)
      );
   }

   &__point {
      cursor: pointer;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: $c-white;
      transition: 0.7s;
      opacity: 0.5;
      margin: 0 5px;
      &:hover {
         opacity: 1;
      }
   }

   &__arrow {
      cursor: pointer;
      transition: 0.7s;
      position: absolute;
      z-index: 10;
      transform: translateY(-50%);
      top: 50%;
      opacity: 0.7;
      width: 1.5rem;
      color: aliceblue;

      &--left {
         background-image: linear-gradient(to left, rgba($color: $c-grey, $alpha: 0), rgba($color: $c-grey, $alpha: 1));
         left: 0rem;
         padding-right: 3rem;

         @media (min-width: $bp-md) {
            padding-right: 0;
            margin-left: 0.5rem;
         }
      }

      &--right {
         background-image: linear-gradient(
            to right,
            rgba($color: $c-grey, $alpha: 0),
            rgba($color: $c-grey, $alpha: 1)
         );
         right: 0rem;
         padding-left: 3rem;

         @media (min-width: $bp-md) {
            padding-left: 0;
            margin-right: 0.5rem;
         }
      }

      @media (min-width: $bp-xs) {
         height: 100%;
      }

      @media (min-width: $bp-md) {
         width: 2.5rem;
         height: 2.5rem;
         padding: 9px;
         border-radius: 50%;
         background-color: rgba(153, 153, 153, 0.4);
         &:hover {
            background-color: rgba($color: $c-grey, $alpha: 1);
         }
      }
   }
}
