.slider {
   &__wrapper {
      position: relative;
      margin: 0 auto;
      // @media (min-width: $bp-sm) {
      //    padding: 0 2rem;
      // }
   }

   &__img {
      max-width: 100%;
      object-fit: cover;
   }

   &__arrow {
      cursor: pointer;
      position: absolute;
      z-index: 1;
      transform: translateY(-50%);
      background-color: rgba($color: $c-grey, $alpha: 0.4);
      top: 50%;
      opacity: 0.7;
      width: 1.5rem;

      &--left {
         left: 0rem;
      }
      &--right {
         right: 0rem;
      }

      @media (min-width: $bp-xs) {
         height: 100%;
      }
      @media (min-width: $bp-sm) {
         // width: 24rem;
         // padding: 0 5rem;
      }
      @media (min-width: $bp-md) {
         width: 35rem;
      }
      @media (min-width: $bp-lg) {
         width: 51rem;
      }
      @media (min-width: $bp-xl) {
         width: 60rem;
      }
      @media (min-width: $bp-xxl) {
         width: 4.5rem;
         height: 3rem;
         padding: 0.2rem;
         border-radius: 50%;
      }
   }
}
