.position-static {
   position: static !important;
}

.position-relative {
   position: relative !important;
}

.position-absolute {
   position: absolute !important;
}

.position-fixed {
   position: fixed !important;
}

.position-sticky {
   position: -webkit-sticky !important;
   position: sticky !important;
}

.display-none {
   display: none !important;
}

.opacity-0 {
   opacity: 0 !important;
}

.opacity-1 {
   opacity: 1 !important;
}
