.position-static {
   position: static !important;
}

.position-relative {
   position: relative !important;
}

.position-absolute {
   position: absolute !important;
}

.position-fixed {
   position: fixed !important;
}

.position-sticky {
   position: -webkit-sticky !important;
   position: sticky !important;
}

.display-none {
   display: none !important;
}

.display-flex {
   display: flex !important;
}

.flex-row {
   flex-direction: row !important;
}

.flex-column {
   flex-direction: column !important;
}

.flex-justify-between {
   justify-content: space-between !important;
}

.flex-justify-center {
   justify-content: center !important;
}

.flex-justify-around {
   justify-content: space-around !important;
}

.opacity-0 {
   opacity: 0 !important;
   z-index: -1;
}

.opacity-1 {
   opacity: 1 !important;
}

.no-border {
   border: none !important;
}


// Responsive until-[breakpoint]-display-none utility classes
@each $name, $size in $breakpoints {
   .until-#{$name}-display-none {
      display: none !important;

      @media (min-width: $size) {
         display: flex !important; // Standard override is flex. Or switch to block if needed.
      }
   }
}