// Variables
@import "variables";

// Utility
@import "./mixins";
@import "./colors";
@import "./fonts";
@import "./spaces";
@import "./utilites";
@import "./navbar";
@import "./button";

// normalizer
@import "./normalize";
@import "./container";
@import "./form";

// dev
@import "./devSizeBtn";

// components
@import "./accordion";
@import "./slider";
@import "./header";
@import "./logo";
@import "./cards";
@import "./landing_page";
@import "./linked_logo";
@import "./banner";
@import "./dashboard";
@import "./mi"; 
@import "./nav";
@import "./timeline";
@import "./language";
@import "./dashboards";
