// Variables
@import "variables";

// Utility
@import "./mixins";
@import "./colors";
@import "./fonts";
@import "./spaces";
@import "./utilitys";
@import "./navbar";
@import "./button";

// normalizer
@import "./normalize";
@import "./container";

// dev
@import "./devSizeBtn";

// components
@import "./slider";
@import "./header";